[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
polars = "*"
transformers = "*"
datasets = "*"
evaluate = "*"
accelerate = "*"
einops = "*"
llama-index = "*"
llama-index-postprocessor-jinaai-rerank = "*"
huggingface-hub = {extras = ["inference"], version = "*"}
llama-index-llms-huggingface-api = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.9"
